page-category-details {
    ion-header
    {
        ion-toolbar
        {
            position: fixed;
            z-index: 2;
        }
        .headerImage
        {
            position: relative;
            z-index: 1;
            .con-image
            {
                height: 220px;
                background-size: cover;
            }
            .imageOverlay
            {
                @extend %overlayImage ; 
                background-color: rgba(0,0,0,.6);
            }
        }
        
    }

    ion-content 
    {
        .scroll-content
        {
            padding: 0px !important;
            margin-top:0;
            overflow: auto;
        }
        ion-grid
        {
            padding: 0px !important;
            ion-row
            {
                ion-col
                {
                    padding: 10px !important;
                    border:1px solid #eee;
                    .con-image
                {
                    @extend %con-image ; 
                    height: 110px;
                }
                .productData
                {
                   
                    h5{
                        font-size: 17px;
                        margin-bottom: 10px;
                        font-weight: bold ;
                        margin-top: 10px !important;
                    }
                    h6{
                        font-size: 13px ;
                        margin-bottom: 5px ;
                        margin-top: 0px;
                        font-weight: normal ;
                    }
                }
                }
            }
        }
    }

    
    ion-footer
    {
        ion-toolbar
        {
            ion-col
            {
                text-align: center ;
            }
        }
    }
}
